spark.home=C:/Users/qianyunz/Documents/GitHub/WorkLoader/workload.spark/src/test/
workload.path.root=/


workload.nweight.path=/home/frank/liye/workload/youku/nweight/
workload.nweight.run=run.sh

workload.billboard.path=/home/frank/workload/billboard/
workload.billboard.run=run.sh

workload.output.path=/tmp/workload/
workload.backup.path=/tmp/

workload.step.runner=emptyRunner
workload.step.parser=emptyParser
workload.step.loader=emptyLoader
workload.step.cleaner=emptyCleaner
workload.step.chart=emptyChart
workload.execute.backup=false
workload.step.report=false
workload.log=true

workload.runner.command=sar
#second in unit
workload.runner.sleeptime=40
workload.runner.frequency=2
workload.chart.xmax = 300
workload.chart.width = 800
workload.chart.height = 300
